<!DOCTYPE html>
<html lang="fr">
<head>
  
    <title>GOAL</title>

    <meta charset="UTF-8">
  
    <link href="/style/style_admin.css" rel="stylesheet" type="text/css" >
    <link rel="icon" type="/image/jpg" href=/images/photo/goal.jpg> 
         

</head>
<body>
 <nav>
        <img src="/images/photo/goal_logo.jpg" class="logo">
     <ul id="liste_menu">
         <li>gestion des agences</li>
         
         <li>gestion des clients</li>
         <li>gestion de votre profile</li>
     </ul>

 </nav>
 <section>
    <article>
            <h1>Liste Des Demandes D'Inscription</h1>
            <table>
                    <tr class="first">
                        <td>Email</td>
                        <td>Nom De L'Agence</td>
                        <td>Matricule Fiscale</td>
                        <td>Addresse</td>
                        <td>Accepter</td>
                        <td>Refuser</td>
                    </tr>
                    <tr class="paire">
                        <td>Michelle</td>
                        <td>26 ans</td>
                        <td>États-Unis</td>    
                        <td>@</td>   
                        <td><a href="#"  onmouseover="this.firstChild.src='/images/icone/done_green.svg'" onmouseout="this.firstChild.src='/images/icone/done.svg'"><img src="/images/icone/done.svg"></a></td>   
                        <td><a href="#"  onmouseover="this.firstChild.src='/images/icone/cancel_red.svg'" onmouseout="this.firstChild.src='/images/icone/cancel.svg'"><img src="/images/icone/cancel.svg"></a></td>
                    </tr>
                    <tr class="impaire">
                            <td>Michelle</td>
                            <td>26 ans</td>
                            <td>États-Unis</td>                            
                            <td>@</td>
                        <td><a href="#"  onmouseover="this.firstChild.src='/images/icone/done_green.svg'" onmouseout="this.firstChild.src='/images/icone/done.svg'"><img src="/images/icone/done.svg"></a></td>   
                        <td><a href="#"  onmouseover="this.firstChild.src='/images/icone/cancel_red.svg'" onmouseout="this.firstChild.src='/images/icone/cancel.svg'"><img src="/images/icone/cancel.svg"></a></td>
                    </tr>
                      <tr class="paire">
                        <td>Michelle</td>
                        <td>26 ans</td>
                        <td>États-Unis</td>    
                        <td>@</td>
                        <td><a href="#"  onmouseover="this.firstChild.src='/images/icone/done_green.svg'" onmouseout="this.firstChild.src='/images/icone/done.svg'"><img src="/images/icone/done.svg"></a></td>   
                        <td><a href="#"  onmouseover="this.firstChild.src='/images/icone/cancel_red.svg'" onmouseout="this.firstChild.src='/images/icone/cancel.svg'"><img src="/images/icone/cancel.svg"></a></td>
                    </tr>
                    <tr class="impaire">
                            <td>Michelle</td>
                            <td>26 ans</td>
                            <td>États-Unis</td>                            
                            <td>@</td>
                        <td><a href="#"  onmouseover="this.firstChild.src='/images/icone/done_green.svg'" onmouseout="this.firstChild.src='/images/icone/done.svg'"><img src="/images/icone/done.svg"></a></td>   
                        <td><a href="#"  onmouseover="this.firstChild.src='/images/icone/cancel_red.svg'" onmouseout="this.firstChild.src='/images/icone/cancel.svg'"><img src="/images/icone/cancel.svg"></a></td>
                    </tr>
                      <tr class="paire">
                        <td>Michelle</td>
                        <td>26 ans</td>
                        <td>États-Unis</td>    
                        <td>@</td>
                        <td><a href="#"  onmouseover="this.firstChild.src='/images/icone/done_green.svg'" onmouseout="this.firstChild.src='/images/icone/done.svg'"><img src="/images/icone/done.svg"></a></td>   
                        <td><a href="#"  onmouseover="this.firstChild.src='/images/icone/cancel_red.svg'" onmouseout="this.firstChild.src='/images/icone/cancel.svg'"><img src="/images/icone/cancel.svg"></a></td>
                    </tr>
                    <tr class="impaire">
                            <td>Michelle</td>
                            <td>26 ans</td>
                            <td>États-Unis</td>                            
                            <td>@</td>
                        <td><a href="#"  onmouseover="this.firstChild.src='/images/icone/done_green.svg'" onmouseout="this.firstChild.src='/images/icone/done.svg'"><img src="/images/icone/done.svg"></a></td>   
                        <td><a href="#"  onmouseover="this.firstChild.src='/images/icone/cancel_red.svg'" onmouseout="this.firstChild.src='/images/icone/cancel.svg'"><img src="/images/icone/cancel.svg"></a></td>
                    </tr>
                        
                 </table>
    </article>
 </section>
    
</body>
</html>